<html>
<head>
<style>
body {
  background: url("../static/images/quotes2.jpg") no-repeat; 
  background-size: 75% 110%;
  background-position-y: top;
  background-position-x: center;
  background-blend-mode: lighten;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

</style>
<body>
  <form action='/predict' method = 'post'>
    <p>“Sometimes I’ll start a sentence and I don’t even know where it’s going. I just hope I find it along the way.” — Michael Scott</p>
    <!-- <label for="input">Input:</label> -->
    <input type="text" id="input" name="Input"><br><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>



